.footer {
  min-height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;

    a {
      font-size: 25px;
      margin-left: 30px;
      line-height: 35px;
      font-family: $oswald-extra-light;
      color: map-get($theme-colors, 'pink');
      letter-spacing: 3px;
      transition: all 0.4s linear;

      @include media-breakpoint-down(md) {
        font-size: 15px;
        margin-left: 15px;
      }
    }
  }

  &__email {
    display: flex;
  }

  &__social {
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }
}

.link {
  position: relative;
  margin: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  will-change: transform;
  /* background-color: red; */
}

.link-text {
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
}

.link > div:nth-child(1) span {
  transition: 0.5s;
  will-change: transform;
  transform-style: preserve-3d;
  transform-origin: bottom;
  display: inline-block;
  transition-delay: calc(0.05s * var(--index));
}

.link > div:nth-child(2) span {
  transition: 0.5s;
  will-change: transform;
  transition: 0.5s;
  transform-origin: top;
  transition-delay: calc(0.05s * var(--index));
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(90deg);
}

.link:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.link:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}
