.gallery-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .image {
        position: absolute;
        z-index: 10;
    }

    .gallery-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $oswald-bold;

    }
}