# Application
web/app/languages/wpml
!web/app/languages/wpml/wordpress-*
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/filebird-hacked-master
!web/app/plugins/wp-all-import
!web/app/plugins/permalink-manager-pro
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/webp-express
web/app/wflogs
web/app/cache
web/app/advanced-cache.php
web/app/wp-cache-config.php
web/app/object-cache.php

# WordPress
web/wp
web/.htaccess
web/robots*.txt

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
