@font-face {
  font-family: "Nunito Sans Regular";
  font-weight: normal;
  src: url("../fonts/NunitoSans-Regular.ttf") format("ttf");
  src: url("../fonts/NunitoSans-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans Extra Light";
  font-weight: 200;
  src: url("../fonts/NunitoSans-ExtraLight.ttf") format("ttf");
  src: url("../fonts/NunitoSans-ExtraLight.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans Black";
  font-weight: 900;
  src: url("../fonts/NunitoSans-Black.ttf") format("ttf");
  src: url("../fonts/NunitoSans-Black.ttf") format("ttf");
  font-display: swap;
}