/**
 * Editor
 */


@use 'abstracts';
@use 'base';
// 
@use 'vendors';

.editor-styles-wrapper > * {
  font-family: abstracts.$lekton-regular;

   .wp-block {
    max-width: none !important;
  }

  .wp-block-paragraph {
    width: 100%;
  }
}
