@use 'sass:map';
@use '../abstracts';
@use '../vendors/bootstrap';


/**
 *  Core Button
 */

.wp-block-button {
  &__link {
    font-size: bootstrap.$btn-font-size;
    line-height: bootstrap.$btn-line-height;
    padding-bottom: bootstrap.$btn-padding-y;
    padding-left: bootstrap.$btn-padding-x;
    padding-right: bootstrap.$btn-padding-x;
    padding-top: bootstrap.$btn-padding-y;

    &:hover {
      text-decoration: none;
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      @include bootstrap.button-outline-variant(
        map-get(abstracts.$theme-colors, 'primary'),
        map-get(abstracts.$theme-colors, 'light')
      );
    }
  }

  &.is-style-solid {
    .wp-block-button__link {
      @include bootstrap.button-variant(
        map-get(abstracts.$theme-colors, 'primary'),
        map-get(abstracts.$theme-colors, 'light')
      );
    }
  }
}
