.c-start-hero {
  position: relative;
  min-height: 100vh;
  background-color: map-get($theme-colors, 'creme-white');
  color: map-get($theme-colors, 'blackish');
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  //   background-image: $texture;

  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}

.hero-image-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-img {
  position: absolute;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  @include media-breakpoint-down(md) {
    width: 320px !important;
    height: 420px !important;
  }
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  background: map-get($theme-colors, 'creme-white');
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.images {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: black;
}

.left-hero-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.right-hero-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: map-get($theme-colors, 'pink');
  font-family: $oswald-bold;
  max-width: 1800px;

  @media screen and (max-width: 1800px) {
    font-size: 16vw;
  }
  @include media-breakpoint-down(xl) {
    font-size: 17vw;
  }

  @include media-breakpoint-up(1800px) {
    font-size: 300px;
  }
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}

.projects {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: $lekton-regular;
  font-size: 24px;
  color: map-get($theme-colors, 'blackish');

  ion-icon {
    position: relative;
    top: 3px;
    transition: color 0.4s ease;
  }

  &:hover {
    color: map-get($theme-colors, 'blackish');

    ion-icon {
      color: map-get($theme-colors, 'pink');
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}
