.c-image-video-block {
    width: 100%;
    height: 95vh;
    overflow: hidden;

    img {
    height: 100%;
      width: 100%;
      object-fit: cover;
      

      .is-inview {
        width: 120%;
        transform: scale(1);
      }
    }
}